@use "@/styles/main" as *;

.top-podcaster-card {
  width: 246px;
  height: 520px;
  display: flex;
  position: relative;

  &__info {
    width: 170px;
    height: auto;
    position: absolute;
    top: 40px;
    left: 38px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__author {
    color: $color-white;
    text-align: center;

    &--large.h4 {
      width: 227px;
      height: auto;
      font-size: 56px;
      font-weight: 800;
      text-align: start;
    }
  }

  &__streams {
    font-family: "Red Hat Display", sans-serif;
    color: $text-primary;
    background-color: $color-white;
    padding: 8px 16px;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.2;
    width: 227px;
    height: auto;
    border-radius: 32px;
  }
}
