@font-face {
  font-family: "Monument Extended";
  src: url("../assets/font/MonumentExtended-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.h1 {
  font-family: "Red Hat Display", sans-serif;
  font-size: 94px;
  line-height: 1.1;
}

.h2 {
  font-family: "Red Hat Display", sans-serif;
  font-size: 56px;
  line-height: 1.2;
}

.h3 {
  font-family: "Red Hat Display", sans-serif;
  font-size: 40px;
  line-height: 1.4;
}

.h4 {
  font-family: "Red Hat Display", sans-serif;
  font-size: 32px;
  line-height: 1.2;
}

.body1 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  line-height: 1.4;
}

.body2 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 1.6;
}

.body3 {
  font-family: "Red Hat Display", sans-serif;
  font-size: 18px;
  line-height: 1.4;
  font-weight: bold;
}

.body4 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 1.4;
}

.body5 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.4;
}
