// Primitive Colors
$color-brown: #532822;
$color-natural: #fff4e9;
$color-dark-grey: #383838;
$color-white: #ffffff;
$color-orange: #ff854b;
$color-yellow: #ffd25a;

// Semantic Variables
$primary: $color-yellow;
$secondary: $color-orange;
$text-primary: $color-brown;
$text-secondary: $color-dark-grey;
$bg-primary: $color-natural;
