@use "@/styles/main" as *;

.header {
  width: 100%;
  position: fixed;
  background-color: $bg-primary;
  z-index: 2000;

  &__container {
    @include flex-space-between;
    height: 128px;
    padding: 32px 72px;

    @include tablet {
      padding: 24px 10px;
      height: 100px;
    }

    @include mobile {
      padding: 8px 10px;
      height: 80px;
    }
  }
  &__right {
    @include flex-center;
    gap: 16px;

    // 漢堡按鈕（手機版）
    &__hamburger-btn {
      display: none;
      background: none;
      border: none;
      font-size: 24px;
      cursor: pointer;

      color: var(--text-color);

      @include mobile {
        display: flex;
      }
    }

    &__subscribe-btn.body3 {
      width: 214px;
      height: 64px;

      @include mobile-and-tablet {
        font-size: 16px;
        width: 150px;
        height: 50px;
        padding: 8px 20px;
      }
    }
  }
}
