@use "@/styles/main" as *;

.weekly-podcasts {
  width: 100%;
  padding: 64px 0 64px 72px;

  @include tablet {
    padding: 40px 0 40px 50px;
  }

  @include mobile {
    padding: 20px;
  }

  &__podcast-list {
    @include mobile {
      display: flex;
      flex-direction: column;
    }

    li {
      list-style: none;
    }
  }

  &__title-group {
    @include flex-space-between;
    margin-bottom: 48px;
    padding-right: 10px;

    @include mobile {
      margin-bottom: 24px;
    }

    &__title.h2 {
      color: $text-primary;

      @include tablet {
        font-size: 40px;
      }

      @include mobile {
        font-size: 25px;
      }
    }

    &__btn {
      width: 181px;
      height: 64px;

      @include mobile {
        width: 100px;
        height: 40px;
      }
    }
  }

  &__podcast-list {
    display: flex;
    gap: 16px;
    overflow-x: auto;
    scrollbar-width: thin;

    @include mobile-and-tablet {
      scrollbar-width: none;
    }
  }
}
