@use "@/styles/main" as *;

.weekly-podcast-card {
  width: 490px;
  height: 170px;
  flex-shrink: 0;
  background-color: #f8f8f8;
  border-radius: 48px;
  padding: 16px;
  display: flex;
  gap: 24px;
  position: relative;

  @include mobile {
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &--grid {
    width: 100%;
    height: auto;
    flex-direction: column;
  }

  &__img {
    width: 138px;
    height: 138px;
  }

  &__content {
    &__title {
      color: $text-primary;
      margin-bottom: 8px;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    &__author {
      color: $text-secondary;
      margin-bottom: 30px;
    }

    &__duration {
      color: $text-secondary;
    }
  }

  &__btn {
    position: absolute;
    right: 16px;
    bottom: 16px;
  }
}
