@use "@/styles/main" as *;

.weekly-podcasts {
  width: 100%;
  height: 413px;
  padding: 64px 0 64px 72px;

  &__title-group {
    @include flex-space-between;
    margin-bottom: 48px;

    &__title {
      color: $text-primary;
    }

    &__btn {
      width: 181px;
      height: 64px;
    }
  }

  &__podcast-list {
    display: flex;
    gap: 16px;
    overflow-x: auto;
    scrollbar-width: thin;
  }
}
